/* Color Scheme
#E4E8D7 - white
#BDC2BF - silver
#90A57A - green
#272B1D - darkgreen
#E5D197  - yellowish
#F79351 - orange
*/


/* Global styles
-------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
} 
h1,h2 {
    font-family: 'Caveat', serif;
    font-weight: 400;
}
h1{ 
font-size: 80px;
}
h2 {
    font-size: 40px; 
    margin-top: 0;
}
h3{
    margin:0;
}
a{
    color: #E5D197;
}
a:hover{
    color: whitesmoke;
}
.uppercase{
    text-transform: uppercase;
}
.btn{
    text-decoration: none;
    background: none;
    color: #F79351;
    display: inline-block;
}


/* Header and Footer
------------------*/
header, footer {
    background: #272B1D;
    color: #E4E8D7;
}
/*Header*/
header{
    padding-top: 50px;
/*  position: relative;*/
}
.profile-img{
    border-radius: 50%;
}
/*.download {
    position: absolute;
    bottom: 0;
    right: 0;
*/

/*
header{
    text-align: center;
}
*/
header h1, header h2 {
    color: #E5D197;
    margin:0;
}

/*footer*/
footer{
    text-align: center;
}
.contact a {
    padding: 10px;
    display: inline-block;
}
.contact{
    font-size: 30px;
}

/* Navigation
------------------*/
nav{
    text-align:center;
    background: rgba(39, 43, 29, 0.44);
    position: fixed;
    top:0;
    width:100%;
}
nav a {
    display: inline-block;
    padding:15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}




/* Work experience
------------------*/
.work {
    background:#E4E8D7;
}
h3~p {
    margin:0;
}
.job-description p:first-of-type{
    margin-top: 0;
}

.job-description{
    margin-bottom: 30px;
}




/* Education
------------------*/
.education{
/*    background: rgb(189, 194, 191);*/
    
    background-image: linear-gradient(rgba(189, 194, 191,1), rgba(189, 194, 191,0.7)),
        url("IMG-20180813-WA0057.jpg");
    background-attachment: fixed;
        }
    
p + h3 {
    margin-top: 0;
    padding-top: 30px;
}

/*MEdia queries
-------------*/
@media (min-width: 550px){
    .column-narrow{
    width: 30%;
    float:left;
    }
    .column-wide{
    width: 70%;
    float: left;
    padding-left: 20px;
    }
}
@media (max-width: 549px){
    header{
        text-align: center;
    }
    .profile-img{
        width: 200px;
    }
}

/* PAGE SCHOOL WORKS STYLES----*/

.schoolworks {
        background: #E4E8D7;
}
.gallery{
    margin: 5px;
    border:1px solid #272B1D;
    float: left;
    width: 300px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.description {
    padding: 15px;
    text-align: center;
}

.gallery:hover {
  border: 1px solid #F79351;
}




/*
Float is good for flexible and variable content such as image, side-bar or main content

display is for aligning page component, and elements

position is for positioning elements relative to other element or outside the document flow or to a speicific spot

Can't be used all together. 


stacking context: when its nested they stack on top of each other

*/








